html 
  head 
    title XD UD AT WEB
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
    link(rel="stylesheet", href="/styles/common.css")
  body 
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      .container-fluid
        a.navbar-brand(href='/')
          img(src='/images/avt.jpg' alt='logo' width='50' height='50')
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link(href='/auth/login') Login
            li.nav-item
              a.nav-link(href='/auth/register') Register
            li.nav-item
              a.nav-link(href='/auth/change-password') Change Password
            li.nav-item
              a.nav-link(href='/auth/logout') Log out

    .container.p-5.pt-1
      br
      h2 Change Password
      form#registerForm(action="/auth/change-password" method="POST") 
        #error.my-2.text-error #{message}
        //- .mb-3
        //-   label.form-label(for='Username') Username
        //-   input#username.form-control(type='text'  name="username" onblur='onBlur(this.id)')
        .mb-3
          label.form-label(for='oldPassword') Old Password
          input#oldPassword.form-control(type='password' name="oldPassword" onblur='onBlur(this.id)')
        .mb-3
          label.form-label(for='password') New Password
          input#password.form-control(type='password' name="password" onblur='onBlur(this.id)')
        .mb-3
          label.form-label(for='password2') Re-New Password
          input#password2.form-control(type='password' name="password2" onblur='onBlur(this.id)')
        .d-flex.justify-content-end
          button#clearBtn.btn.btn-light(type='button' onclick='onClear()') Clear
          button#createBtn.btn.btn-success(type='button' onclick='onSubmit()') Create