extends ./layout

block content
  h2 Register
  form#registerForm(action="/auth/register" method="POST") 
    .mb-3
      label.form-label(for='Username') Username
      input#username.form-control(type='text'  name="username" onblur='onBlur(this.id)')
    .mb-3
      label.form-label(for='Password') Password
      input#password.form-control(type='text' name="password" onblur='onBlur(this.id)')
    //- .mb-3
    //-   label.form-label(for='Password2') Re-Password
    //-   input#Password2.form-control(type='password' name="password2")
    //- button.btn.btn-primary(type='submit') Create
    button#createBtn.btn.btn-primary(type='button' onclick='onSubmit()') Create
  script.
    var errorMap = {};
    var fieldMap = {
      username: {
        regex: /^[a-z_\d]{6,255}$/i,
        error: 'Tên tài khoản chỉ bao gồm chữ cái, chữ số, dấu _, độ dài tối thiểu là 6 kí tự',
      },
      password: {
        regex: /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[#?!@$%^&*+='"<>\]\[\|-]).{8,}$/i,
        error: 'Mật khẩu cần tối thiểu 8 ký tự, ít nhất 1 chữ cái viết hoa, 1 chữ cái viết thường và 1 số',
      },
      //- password2: {
      //-   regex: /^[0-3]$/,
      //-   error: 'Giới tính không đúng định dạng',
      //- }
    }
    function onBlur(id) {
      var input = document.getElementById(id);
      if (!fieldMap[id] || !input) return alert(JSON.stringify({ id, value: input && input.value }));

      console.log({ id, value: input.value })

      if (fieldMap[id].regex.test(input.value)) {
        input.classList.remove('error');
        errorMap[id] = null;
        input.title = '';
        return;
      };

      input.classList.add('error');
      errorMap[id] = fieldMap[id].error;
      input.title = fieldMap[id].error;
      console.warning(fieldMap[id].error)
    }

    function onClear() {
      errorMap = {};
      Object.keys(fieldMap).forEach(id => {
        document.getElementById(id).value = null;
        document.getElementById(id).title = '';
        document.getElementById(id).classList.remove('error');
      })
    }

    function onSubmit() {
      if (Object.keys(fieldMap).some(id => !document.getElementById(id).value)) {
        return alert('Bạn chưa nhập đủ thông tin')
      }
      var errors = Object.values(errorMap)
      console.log("🚀register errorMap", errorMap)
      if (errors && errors.filter(e => !!e).length) {
        return alert(errors.join('; '))
      }
      document.getElementById('registerForm').submit();
    }
