<div class="list-group">
  <a href="#" class="list-group-item active">Link</a>
  <a href="#" class="list-group-item">Link</a>

  <% links.forEach(function(link) { %>
  <a href="<%= link.href %>" class="list-group-item active"><%= link.text %></a>
  <% }); %>
</div>
