* {
  margin: 0;
  padding: 0;
  /* color: coral ; */
  font-family: cursive;
}

label {
  text-transform: capitalize;
  font-style: italic;
  font-weight: 500;
}

.form-list {
  padding-left: 2rem;
  padding-left: 2rem;
  border-left: 1px solid #e4e4e4;
}

.d-flex {
  width: 100%;
  gap: 20px;
}
.d-flex .flex-item {
  width: 50%;
}

.error {
  border-color: red;
}
.text-error {
  color: red;
}
.my-contain {
  padding: 450px !important;
  padding-top: 10px !important;
}

nav.navbar {
  padding-left: 560px !important;
}
